extends base.pug

//- block script
//-     script(src='../static/index.js')

block style
    style 
        include ../static/add_stock.css
    style 
        include ../static/base.css

block content
    div.container
        h2 New stock 
        form.form(action="/add-stock", method="post")
            div.form-group
                label(for='productName') Product Name:
                input.form-control(type='text', name='productName')
            div.form-group
                label(for='supplierName') Supplier Name:
                input.form-control(type='text', name='supplierName')
            div.form-group
                label(for='supplierContact') Supplier Contact:
                input.form-control(type='Number', name='supplierContact')
            div.form-group
                label(for='stockQuantity') Quantity:
                input.form-control(type='text', name='stockQuantity')
            div.form-group
                label(for='stockPrice') Price/Unit:
                input.form-control(type='text', name='stockPrice')
            
            div.btn-group
                button.btn(type="submit", name="asdf") Submit
                a.btn(href="/stock") All Stocks
                   
