doctype html
html
  head
    title DBMS 
    block script
    block style
  body
    div.navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/stock") Stocks]
            li #[a(href="/order") Orders]
            
    block content 
    footer.footer
        p &copy; Copyright (Harish, Kalyan, Himanth)